name: 'docker-automatic-push'

on:
  push:
    branches:
      - main
  workflow_dispatch:
  pull_request:

jobs:
  build-and-run:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout repo
        uses: actions/checkout@v3
      -
        name: Install python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          cache: 'pip'
      -
        name: Install dependencies
        run: pip install -r requirements.txt
      # - name: Set up Docker Buildx
      #   uses: docker/setup-buildx-action@v2
      -
        name: Build image
        run: DOCKER_BUILDKIT=0  docker build -t simple-warehouse .
      -
        name: Run container
        run: docker container run --rm simple-warehouse

  login-and-push:
    needs: build-and-run
    runs-on: ubuntu-latest
    steps:
      -
        uses: actions/checkout@v3
      -
        name: DockerHub login
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
        uses: docker/login-action@v1
      -
        name: Github login
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}
      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/simple-warehouse:latest